---
---

@import "{{ site.theme }}";

body {
  background-color: #FFF8DC !important;
}

.post-content table,
.post-content table tr,
.post-content table th,
.post-content table td {
  background: #FFF8DC !important;
  background-color: #FFF8DC !important;
  border: 0 !important;
}

.post-content table {
  border-collapse: collapse !important;
}

.post-content table th,
.post-content table td {
  border-bottom: 1px solid #E8DFC5 !important;
}

.post-content table tr:last-child td {
  border-bottom: 0 !important;
}
