---
---

@import "{{ site.theme }}";

body {
  background-color: #FFF8DC !important;
}

.post-content table {
  border: none !important;
  border-collapse: collapse !important;
  background: transparent !important;

  th,
  td {
    border: none !important;
    background: transparent !important;
  }

  tr,
  tr:nth-child(even),
  tr:nth-child(odd) {
    background: transparent !important;
  }

  th,
  td {
    border-bottom: 1px solid #E8DFC5 !important;
  }

  tr:last-child td {
    border-bottom: none !important;
  }
}
