---
---

@import "{{ site.theme }}";

body {
  background-color: #FFF8DC !important;
}

table {
  border: none;
  border-collapse: collapse;

  th,
  td {
    border: none;
    background-color: transparent !important;
  }

  tr:nth-child(even),
  tr:nth-child(odd) {
    background-color: transparent !important;
  }
}
