---
---

@import "{{ site.theme }}";

body {
  background-color: #FFF8DC !important;
}

/* Markdown tables */
table {
  border-collapse: collapse !important;
  border: none !important;
}

table th,
table td {
  background-color: #FFF8DC !important;
  border: none !important;
  border-bottom: 1px solid #E8DFC5 !important;
}

table tr {
  background-color: #FFF8DC !important;
}

table tr:last-child td {
  border-bottom: none !important;
}
